/* Stylesheet for Test Cases */

#usecase {
	margin-left: 15px;
	margin-top: 15px;
}

h1 {
	font-family: "Arial";
}

#case {
	margin-left: 15px;
	font-family: "Arial";
	font-size: 12px;
}

.wrapper {
	width: 810px;
	height: 550;
	margin-left: 5px;
	position: relative;
	padding: 10px;
}

.mockup {
	width: 360px;
	height: 530px;
	position: relative;
	float: left;
	background-color: #CCFFFF;
	font-family: "Arial";
	font-size: 12px;
	overflow: hidden;
}

.descrip {
	width: 400px;
	height: 530px;
	position: relative;
	float: right;
	padding: 10px;
	font-family: "Arial";
	font-size: 12px;
}

.button {
	padding:5px;
	width:100px;
	margin-left:120px;
	background-color: #A3E0FF;
	border-style: solid;
	border-width: 1px;
	border-color: #A3E0FF;
}

form {
	width: 350px;
	position: relative;
	text-align: center;
	margin-right: 100px;
	line-height: 33px;
	display: block;
}

.textboxes {
	width: 200px;
	border: solid;
	border-width: 0px;
	padding: 5px;
	color: #528B8B;
}

.navbar {
	width: 350px;
	background-color: #3F3F3F;
	height: 40px;
	padding: 5px;
}

.icon img {
	height: 40px;
	display:inline;
}

.main-img img {
	width: 360px;
	height: 240px;
	float: left;
	overflow: hidden;
}

.pic-descrip {
	position: absolute;
	color: #FFFFFF;
	background-color: #3F3F3F;
	opacity: 0.6;
	height: 45px;
	padding: 5px;
	overflow: hidden;
}

.main-img .pic-descrip {
	width: 350px;
	bottom: 240px;
}

.left-img {
	display: block;
	position: relative;
	width: 180px;
	height: 240px;
	overflow: hidden;
	float: left;
}

.left-img img {
	position: absolute;
	height: 240px;
	left: -80px;
}

.left-img .pic-descrip {
	width: 170px;
	bottom: 0px;
}

.right-img {
	display: block;
	position: relative;
	width: 180px;
	height: 240px;
	overflow: hidden;
	float: right;
}

.right-img img {
	position: absolute;
	height: 240px;
	left: -80px;
}

.right-img .pic-descrip {
	width: 170px;
	bottom: 0px;
}

.select img {
	width: 40px;
	display:inline;
}

.sharebar {
	width: 350px;
	background-color: #CCFFFF;
	height: 60px;
	padding: 5px;
}

.sharebar img {
	height: 50px;
	display:inline;
}

.menu-section {
	color: white;
	font-size:18px;
	border-bottom-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	padding:15px;
}

.menu-subsection{
	font-size:14px;
	padding:5px 5px 5px 10px;
}

.menu-section a:link {text-decoration:none; color:white;}
.menu-section a:visited {text-decoration:none; color:white;}
.menu-section a:hover {text-decoration:none; color:white;}
.menu-section a:active {text-decoration:none; color:white;}

.messages {
	border-bottom-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	padding:10px 15px 10px 15px;
}

.msg-title {
	font-size:15px;
	font-weight:bold;
	color:white;
}

.msg-content {
	font-size:12px;
	color:white;
}

.messages a:link {text-decoration:none; color:white;}
.messages a:visited {text-decoration:none; color:white;}
.messages a:hover {text-decoration:none; color:white;}
.messages a:active {text-decoration:none; color:white;}


.msg-buttons {
	padding:5px;
	width:80px;
	margin-right:10px;
	background-color: #525252;
	border-style: solid;
	border-width: 1px;
	border-color: #383838;
}

.searchitem{
	width: 360px;
	height: 100px;
	position: relative;
	font-family: "Arial";
	font-size: 12px;
	border-top: 1px solid black;
	vertical-align: text-top;
}